<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.cmfz.dao.ManagerDao">

    <resultMap type="Manager" id="ManagerResultMap">
        <id property="mgrId" column="mgr_id"/>
        <result property="mgrName" column="mgr_name"/>
        <result property="mgrPwd" column="mgr_pwd"/>
        <result property="salt" column="salt"/>
        <result property="mgrStatus" column="mgr_status"/>
    </resultMap>

    <select id="selectMgr" resultMap="ManagerResultMap">
        select * from manager where mgr_name = #{name}
    </select>

    <select id="selectRoleByMgrName" resultType="SysRole">
        SELECT id id,role_name roleName,role_tag  roleTag FROM sys_role WHERE id IN (
            SELECT role_id FROM sys_mgr_role WHERE mgr_id = ( select mgr_id from manager where mgr_name = #{name} )
        )
    </select>

    <select id="selectPermisssionByMgrName" resultType="SysPermission">
        SELECT id id,resource_name resourceName,resource_tag  resourceTag,resource_url  resourceUrl,permission_tag permissionTag
        FROM sys_permission WHERE id IN (
            SELECT permission_id FROM sys_role_permission WHERE role_id IN (
                SELECT role_id FROM sys_mgr_role WHERE mgr_id = ( select mgr_id from manager where mgr_name = #{name} )
            )
        )
    </select>

</mapper>
